[submodule "backend"]
    path = backend
    url = https://github.com/Ibrahim-Haroon/BeanHub-backend.git
    branch = main
[submodule "frontend"]
    path = frontend
    url = https://github.com/Ibrahim-Haroon/BeanHub-frontend.git
    branch = main
