.idea
.pytest_cache
other/api_key
other/connection_string
scripts/recorded_audio.mp3
scripts/IO/input.txt
scripts/IO/output.txt
scripts/__pycache__/
scripts/ai_integration/__pycache__/
tests/__pycache__/
tests/ai_integration/__pycache__/
.DS_Store
scripts/.DS_Store
other/database-info.csv